

<div id="footer" class="footer">
    <div class= "container">
        <div class = "footer-grid">
          
          <div class = "infoGroup">
            <div class="footer-content">
              <div class="footer-title">Location</div>
              <ul class="">
                <ul>#180-4611 No.6 Rd     </ul>
                <ul>Richmond, B.C           </ul>
              </ul>
            </div>
            
            <div class="footer-content">
              <div class="footer-title">Hours</div>
              <ul class="">
                <ul>Tuesday - Sunday </ul>
                <ul>5pm - 10pm       </ul>
              </ul>
            </div>
            <div class="footer-content">
              <div class="footer-title">Contact</div>
              <ul class="">
                <ul>(604)232-0900</ul>
                <ul>shoestringcafe@gmail.com</ul>
              </ul>
            </div>
          </div>
          
          <div class="footer-icon "> 
              <a href="https://www.facebook.com/Shoestring-Cafe-949215381873401/" class ="icons">
                  <i class="fab fa-facebook fa-2x"></i>
              </a>
              <a href="https://www.yelp.ca/biz/shoestring-cafe-richmond"  class ="icons">
                  <i class="fab fa-yelp fa-2x"></i>
              </a>
          </div>
            
        </div>
    </div>
</div>
</body>
</html>