<!DOCTYPE html>
<html>
    <head>
    	<title> Shoestring Cafe </title> 
            <link rel="stylesheet" type="text/css" href="/app.css"> 
            <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    </head>
    <body>
        <header class ="navBar">
            <div class = "navBar_container">
                <div class ="logo_container">
                    <img src="" class = "logo">
                </div>
                <div class="navBar_menu">
                    <a href="/"         class = "navButt">          Home </a>
                    <a href="/menu"     class = "navButt">          Menu </a>
                    <a href="/Contact"  class = "navButt">          Contact </a>
                </div>
            </div>
        </header>