<% include partials/header%>

<div class="container">

    <h1> Menu</h1>
    <div>
        <p> $5 Dick Sandwhich</p>
    </div>
    <div>
        <p> $420 Tear water</p>
    </div>
</div>

<% include partials/footer%>